<tbody id='{{post}}' class="post">
    <tr>
        <td class="poster_info">
            <p class="RealName">{{RealName}} {{Atribute}}</p>
            <p class="avatar">
                {{Avatar}}
            </p>
            <br>
        </td>
        <td class="message" rowspan="2">
            <div class="post_head">
                <p class="post-time">
                    <span class="hl-scrolled-to-wrap">
                        <a class="dateTime" href="{{dateHref}}">{{dateValue}}</a>
                    </span>
                    <span class="posted_since"></span>
                </p>
                <ul class="inlined" style="list-style-type: none; padding: 0px 15px">
                    <li><a class="txtb" href="{{ReplyHref}}" >[Reply]</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="post_wrap">
                <div class="post_body">
                    {{postText}}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="poster_btn">
            <div style="padding: 2px 6px 4px;" class="post_btn_2">
                <a class="txtb" href="{{Profile}}">[Profile]</a>&nbsp;
                <a class="txtb" href="{{PM}}">[PM]</a>&nbsp;
            </div>
        </td>
    </tr>
</tbody>