@{
    ViewData["Title"] = "Forum Page";
}
<h1 align="center" >Forum</h1>
<div class="container-custom">  
    <table id="Forum" class="TopicsTable" align="center">
        <thead>
            <tr>
                <th></th>
                <th>Topics</th>
                <th>Answers</th>
                <th>Author</th>
                <th>Last Message</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script type="module" src="/js/Forum.js"></script>