@{
    ViewData["Title"] = "Forum Page";
}
<div id="app"></div>
<table id = "Forum" class="TopicTable" align="center">
    <thead>
        <tr>
            <th></th>
            <th>Topics</th>
            <th>Answers</th>
            <th>Author</th>
            <th>Last Message</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script src="/js/Forum.js"></script>