html {
    font-size: 14px;
}

/*-----------------------------------------------------------------
    Media (Adaptation)
-----------------------------------------------------------------*/

@media (min-width: 768px){
    html {
        font-size: 16px;
    }
    .creater_post {
        margin: 0 10% 0 10%;
    }
}

@media (min-width: 992px) {
    .TopicsTable {
        width: 80%;
    }

    .creater_post {
        margin: 0 20% 0 20%;
    }
}

@media (min-width: 1400px) {
    .creater_post {
        margin: 0 25% 0 25%;
    }
}

@media (max-width: 700px) {
    .container-md {
        flex-direction: column;
        max-width: 700px;
    }
    .navbar-nav{
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .creater_post {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 991px) {
    .TopicsTable {
        width: 100%;
    }
}

/*-----------------------------------------------------------------
    containers & other
-----------------------------------------------------------------*/

a {
    text-decoration: none;
}

.AuthForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin-bottom: 60px;
    color: #f6f6f68c;
    background: black;
}

.container {
    position: relative;
    min-height: 50vh;
}

.container-md {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}
.container-custom {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.cls-1 {
    fill: none;
    stroke: #ffd800;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.UserProfile {
    color: rgb(84,108,96);
    filter: drop-shadow(0 0 0.1rem rgba(46,57,77,1));
    text-shadow: 1px 2px 20px rgb(67, 160, 113);
}
/*-----------------------------------------------------------------
    NavBar
-----------------------------------------------------------------*/
nav {
    border-bottom: 1px solid #A21616;
    justify-content: space-between;
    display: block;
    background: linear-gradient(354deg, rgba(84,108,96,0.5) 4%, rgba(60,80,89,0.5) 38%, rgba(46,57,77,0.8) 84%);
}

.navbar-brand {
    color: rgb(84,108,96);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(60,80,89,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgba(60,80,89,1);
}

.navbar-toggler:hover {
    transform: scale(1px);
    filter: drop-shadow(0 0 20px #21bf70);
}

.nav-link {
    display: block;
    padding: 0 10px;
    color: #546c60;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
    text-shadow: 2px 2px #1C1515;
    border-radius: 2px;
    font-weight: bold;
}

.nav-link:hover {
    filter: drop-shadow(0 0 20px #147042);
    color: #4e9d76;
}

/*-----------------------------------------------------------------
    Container SVG & SVG (Avatar,RegForm)
-----------------------------------------------------------------*/
.svgBody {
    position: absolute;
    z-index: -1;
    stroke: blue;
    height: 100%;
    width: 100%;
    transition: 1s;
}

#Container_Avatar_Reg {
    padding: 2em 2em 2em;
    position: relative;
    width: 200px;
    height: 200px;
    transition: 1s;
}

#Container_Avatar_BackgroundIMG {
    filter: drop-shadow(0 0 0.1rem #4cff00);
    position: absolute;
    top: -1em;
    left: -1.6em;
    width: 150%;
    height: 100%;
    z-index: -1;
    transition: 1s;
}

#LogOut {
    margin-top: 3px;
    margin-left: 5px;
    fill: #ffd800;
    max-width: 20px;
    filter: drop-shadow(0 0 0.1rem #4cff00);
}

#LogOut:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.1rem #A21616);
}

#LoginSVG {
    height: 30vh;
    fill: rgb(27, 31, 38);
    filter: drop-shadow(0 0 0.1rem rgb(24, 163, 93));
}

#LoginSVGReg {
    fill: rgb(27, 31, 38);
    filter: drop-shadow(0 0 0.1rem rgb(24, 163, 93));
    left: -90%;
    top: -90%;
    height: 270%;
    width: 270%;
}

/*-----------------------------------------------------------------
    SVG Layout
-----------------------------------------------------------------*/

#HomeBack {
    right: 40%;
    /*height: 80vh;*/
    filter: drop-shadow(0 0 0.1rem rgb(69, 124, 96));
    animation-name: back;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#HomeBack_1 {
    left: 40%;
    /*height: 80vh;*/
    filter: drop-shadow(0 0 0.1rem rgb(69, 124, 96));
    animation-name: back_1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

/*-----------------------------------------------------------------
    SVG & Animation Layout
-----------------------------------------------------------------*/

@keyframes back {
    from {
        fill: rgb(29, 36, 49, 0.8);
        filter: drop-shadow(0 0 0.4rem rgb(21, 172, 96));
    }

    to {
        fill: black;
        filter: drop-shadow(0 0 0.1rem rgb(25, 113, 68));
    }
}

@keyframes back_1 {
    from {
        fill: rgb(29, 36, 49);
        filter: drop-shadow(0 0 0.4rem rgb(21, 172, 96));
    }

    to {
        fill: black;
        filter: drop-shadow(0 0 0.1rem rgb(69, 124, 96));
    }
}

/*-----------------------------------------------------------------
   Avatar & Logo
-----------------------------------------------------------------*/

#ProfileSVG {
    filter: drop-shadow(0 0 0.1rem rgb(24, 163, 93));
}

#Logo {
    height: 55px;
    width: 75px;
    stroke: blue;
    fill: rgb(84,108,96);
    transition: 1s;
}

#Logo:hover {
    transform: rotate3d(1,1,1,35deg);
    transition: 1s;
    cursor: pointer;
    fill: rgba(46,57,77,1);
    filter: drop-shadow(0 0 0.1rem #4cff00);
}

#AvaBackSvg {
    fill: rgb(14, 34, 24);
    filter: drop-shadow(0 0 0.2rem #4cff00);
    top: 0;
    left: 0;
}

#AvatarIMG {
    filter: drop-shadow(0 0 0.1rem #4cff00);
    box-shadow: inset 0 0px 10px rgba(84,108,96,1);
    border-radius: 100%;
    height: 100px;
    max-width: 100px;
    margin: 7px auto;
    transition: 1s;
}

#AvatarIMG:hover {
    filter: drop-shadow(0 0 0.1rem rgb(18, 177, 97, 0,73));
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

/*-----------------------------------------------------------------
    CustomButton Avatar Upload
-----------------------------------------------------------------*/

.CustomButton {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(354deg, rgba(84,108,96,1) 4%, rgba(60,80,89,0.9051995798319328) 38%, rgba(46,57,77,1) 84%);
    box-shadow: 0 5px 10px rgba(84,108,96,0.5);
    color: rgb(49, 80, 135);
    background: rgba(46,57,77,0.4);
    transition: 1s;
}

.CustomButton:hover {
    background: rgba(46,57,77,1);
    color: rgb(24, 163, 93);
    transition: 1s;
}

input {
    border-radius: 5px;
    color: black;
    outline: none;
    color: #f6f6f68c;
    background: #000000b5;
    border: none;
    box-shadow: inset 0 0 10px rgba(84,108,96,0.8);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    white-space: nowrap;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(354deg, rgba(84,108,96,1) 4%, rgba(60,80,89,0.9051995798319328) 38%, rgba(46,57,77,1) 84%);
    box-shadow: 0 5px 10px rgba(84,108,96,0.5);
    background: rgba(46,57,77,0.4);
    color: rgb(49, 80, 135);
    display: inline-block;
    padding: 4px 6px;
    cursor: pointer;
    transition: 1s;
}

.custom-file-upload:hover {
    background: rgba(46,57,77,1);
    color: rgb(24, 163, 93);
    transition: 1s;
}

/*-----------------------------------------------------------------
    info window in profile
-----------------------------------------------------------------*/
.info {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px 30px;
    border: 1px solid;
    border-radius: 50%;
    border-color: rgba(84,108,96,1);
    background: radial-gradient(circle, rgba(46,57,77,0.7) 7%, rgba(60,80,89,0.8) 41%, rgba(27,107,67,0.8) 80%);
    color: green;
    text-shadow: 2px 2px #1C1515;
}

#infoError {
    border-color: #a21616a0;
    background: radial-gradient(circle, rgba(46,57,77,1) 7%, rgba(80,89,60,0.9051995798319328) 41%, rgba(107,27,27,1) 80%);
    color: red;
}

/*-----------------------------------------------------------------
    Topic
-----------------------------------------------------------------*/

.TopicsTable {
    border-collapse: collapse;
    text-align: center;
    background: #202931;
    /*width: 100%;*/
}

.TopicsTable tr th {
    padding: 10px;
    border: 1px solid white;
}

.TopicsTable tr td {
    border: 1px solid white;
}

.Author_Href {
    color: rgb(53, 95, 170);
    text-decoration: none;
}

.Author_Href:hover {
    color: rgb(6, 59, 155);
}

.topic_Href {
    color: rgb(24, 163, 93);
    text-decoration: none;
}

.topic_Href:hover {
    color: rgb(45, 107, 76);
}

.topic_Field {
    width: 50%;
}

/*-----------------------------------------------------------------
    Articles
-----------------------------------------------------------------*/

.Topic {
    /*border: 1px solid red;*/
}

tbody {
    border: 1px solid white;
}

.poster_info {
    width: 125px;
    vertical-align: top;
}

.Post_Author{
    width:100%;
}

.message {
    vertical-align: top;
    text-align: justify;
    /*width: 100%;*/
}

.poster_btn {
    height: 30px;
}

.post_head {
    display: flex;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid white;
}

.post-time{
    margin-left: 10px;
    flex-basis: 100%;
}

.post_wrap {
    word-wrap: break-word;
    padding: 5px 10px 5px 10px;
}

.post_body {
    min-height: 150px;
}

.post_body img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

ul.inlined, ul.inlined > li {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.ArticleIcon {
    width: 15px;
    filter: invert(42%) sepia(13%) saturate(752%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

#reply:hover {
    width: 15px;
    filter: invert(42%) sepia(100%) saturate(1300%) hue-rotate(190deg) brightness(119%) contrast(119%);
}


#edit:hover {
    width: 15px;
    filter: invert(42%) sepia(100%) saturate(1300%) hue-rotate(350deg) brightness(119%) contrast(119%);
}

#delete:hover {
    width: 15px;
    filter: invert(42%) sepia(100%) saturate(1300%) hue-rotate(330deg) brightness(90%) contrast(219%);
}
/*-----------------------------------------------------------------
    Article Creater
-----------------------------------------------------------------*/
.Article_Textarea {
    width: 100%;
    min-height: 180px;
    background: #142726;
    color: rgb(8, 161, 84);
    text-shadow: 1px 1px 2px black;
}

.creater_post {
    /* min-width: 600px;*/
    /*border:1px solid blue;*/
}

.CP-button-row {
    overflow: hidden;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 7px 7px 0 0;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    display: flex;
    list-style: none;
    height: 44px;
}

.CP-button-row li {
    display: inline;
    margin-right: 5px;
    padding: 6px;
}

#CP-bold-button {
    background-image: url(../Icon/bold.svg);
    background-size: 17px;
}

#CP-italic-button {
    background-image: url(../Icon/italic.svg);
    background-size: 17px;
}

#CP-link-button {
    background-image: url(../Icon/link.svg);
    background-size: 18px;
}

#CP-quote-button {
    background-image: url(../Icon/quote.svg);
    background-size: 17px;
}

#CP-code-button {
    background-image: url(../Icon/braces.svg);
}

#CP-image-button {
    background-image: url(../Icon/image.svg);
}

#CP-olist-button {
    background-image: url(../Icon/list-number.svg);
}

#CP-ulist-button {
    background-image: url(../Icon/list.svg);
}

#CP-heading-button {
    background-image: url(../Icon/align-head.svg);
    background-size: 35px;
}

#CP-hr-button {
    background-image: url(../Icon/align-center.svg);
    background-size: 35px;
}

#CP-undo-button {
    background-image: url(../Icon/undo.svg);
}

#CP-redo-button {
    background-image: url(../Icon/redo.svg);
}

.CP-button {
    max-width: 28px;
    height: 44px;
    padding: 0;
    padding: 12px 0 0 0;
    /*box-shadow: inset 0 0 5px 2px rgb(24, 163, 93);*/
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    flex: 10 0 23px;
    cursor: pointer;
}
.CP-button:hover{
    filter: drop-shadow(0.1rem 0.1rem 0.03rem rgba(24, 163, 93));
   /* box-shadow: inset 0 0 10px 2px rgba(46,57,77,1);*/
    transform:scale(1.2);
    transition:0.3s;
}
.CP-spacer-max {
    max-width: none;
}

.CP-spacer {
    height: 44px;
    flex: 1 0 4px;
    max-width: 27px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    left: 4px;
    z-index:-1;
}

.PreView {
    min-height: 172px;
    text-align: justify;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    background: #202931;
    border: 1px solid white;
    display: none;
}

.Quote {
    width:100%;
    display: block;
    border: 1px solid rgb(84,108,96);
    box-shadow: 0 0 20px rgb(84,108,96);
    border-radius: 6px;
    text-align: left;
    overflow: hidden;
    margin-top:10px;
    margin-bottom: 10px;
}
.Quoted {
    padding-left: 10px;
    background: linear-gradient(153deg, rgb(84,108,96) 0%, rgba(32,41,49,1) 45%);
}
.quoteMessage {
    margin-top: -5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display:inline-block;
    vertical-align: top;
}

.hiddenMessage{
    display: none;
}

#modal {
    text-align: justify;
    max-width: 600px;
    border: 1px solid rgb(84,108,96);
    background: rgba(46,57,77,1);
    position: absolute;
    display: block;
    padding: 5px 10px 5px 10px;
    transition: 0.5s;
}